[influxdb]

url = "http://10.0.3.195:8086"
db = "ping"
measurement = "ping"
user = "ping"
pass = "pong"

[fping]

path = "/usr/bin/fping"

[hosts]

v4hosts = [
    "127.0.0.1",
    "8.8.8.8",
]

v6hosts = [
    "2600::"
]

